 FAUNA_DB_SECRET=**** # use diff database when working locally to prevent writing to prod

  # For lambdas
  VERCEL_ENV=local # auto set in vercel
  NEXT_PUBLIC_VERCEL_ENV=local # auto set in vercel
  JWT_SALT=****
  NEXT_PUBLIC_SUPABASE_URL=****
  NEXT_PUBLIC_SUPABASE_ANON_KEY=****
  STRIPE_SECRET_KEY=****
  STRIPE_WEBHOOK_SIGNING_SECRET=****

  # Feature Flags
  NEXT_PUBLIC_MAINTENANCE=yes