NEXT_PUBLIC_SUPABASE_URL=****
NEXT_PUBLIC_SUPABASE_ANON_KEY=****

STRIPE_SECRET_KEY=****
STRIPE_WEBHOOK_SIGNING_SECRET=****

JWT_SALT=****

# Auto-set by Vercel in production; set to 'local' for local dev
VERCEL_ENV=local
NEXT_PUBLIC_VERCEL_ENV=local

# Feature flags
NEXT_PUBLIC_MAINTENANCE=          # Set to 'yes' to enable maintenance page
